@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.container div {
    padding: 30px;
    width: 250px;
    height: auto;
}

.container h1 {
    margin-top: 30px;
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display, sans-serif;
    font-weight: 700;
}

.container p {
    margin-top: 30px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
}

.container button {
    margin-top: 70px;
    border-radius: 20px;
    padding: 15px 25px;
    background-color: white;
    font-family: Lexend Deca, sans-serif;
    border: 2px solid transparent;
}

.container .btn1 {
    color: hsl(31, 77%, 52%);
}
.container .btn2 {
    color: hsl(184, 100%, 22%);
}
.container .btn3 {
    color: hsl(179, 100%, 13%);
}
.one {
    background-color: hsl(31, 77%, 52%);
}
.two {
    background-color: hsl(184, 100%, 22%);
}
.three {
    background-color: hsl(179, 100%, 13%);
}
.container button:active {
    background-color: inherit;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
@media screen and (max-width:770px) {
    .container {
        margin: 20px 0;
        flex-direction: column;
    }

    .container button {
        margin-top: 15px;
    }
}